{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Clients{% endblock title %}
{% block content %}
    <h1>Client List</h1>
    <p>This will only list clients with you listed as the trainer.</p>
    <div style="float:right">
    <img src="{% static "/images/team.jpg" %}" width="220" alt="coach"/>
    </div>
  {% for client in object_list %}
      <table>
      <tr>
          <td><span class="font-weight-bold">{{ client.name }}</span></td>
          <td><a href="{% url 'client_detail' pk=client.pk %}">Details</a></td>
      </tr>
      </table>
    <br />
  {% endfor %}
{% endblock content %}
