{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block content %}
    <h1>New Workout</h1>
    <p><a class="btn btn-primary" href="{% url 'home' %}" role="button">Cancel</a></p>
    <div style="width: 50%; float:right; clear: both;">
    <img src="{% static "/images/track.jpg" %}" width="300" alt="coach"/>
    </div>
    <div style="width: 50%;">
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            </br>
            <button class="btn btn-success ml-2" type="submit">Save</button>
        </form>
    </div>

{% endblock content %}
